.p1{color:red;font-size:40px;font-family:"Times New Roman";text-decoration:underline}
.p2{color:green;}
p#p786{color:yellow;font-size:20px;}
a:link{color:red;}
a:visited{color:green;}
a:hover{color:pink;}
.fulit{color:blue;font-size:30px;}
.shi{color:green;font-size:50px;}
p:hover{color:yellow;text-decoration:overline line-through;}
h1{color:green;}